
<!-- Base template -->

{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}roypi{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/roypi.css' %}" rel="stylesheet">

    <!-- Use this to quickly test CSS changes in a template,
        then move to roypi.css -->
    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body>

    <!-- Header of main home page -->
    <div class="header">
      <p>Imagine that here there's a lot of code lines (about 400 lines right?)</p>
      <p>Imagine that here there's a lot of code lines (about 400 lines right?)</p>
      <p>Imagine that here there's a lot of code lines (about 400 lines right?)</p>
      <p>Imagine that here there's a lot of code lines (about 400 lines right?)</p>
      <p>Imagine that here there's a lot of code lines (about 400 lines right?)</p>
      <p>Imagine that here there's a lot of code lines (about 400 lines right?)</p>
      <p>Imagine that here there's a lot of code lines (about 400 lines right?)</p>
      <p>Imagine that here there's a lot of code lines (about 400 lines right?)</p>
      <p>Imagine that here there's a lot of code lines (about 400 lines right?)</p>
      <p>Imagine that here there's a lot of code lines (about 400 lines right?)</p>
      <p>Imagine that here there's a lot of code lines (about 400 lines right?)</p>
      <p>Imagine that here there's a lot of code lines (about 400 lines right?)</p>
      <p>Imagine that here there's a lot of code lines (about 400 lines right?)</p>
      <p>Imagine that here there's a lot of code lines (about 400 lines right?)</p>
      <p>Imagine that here there's a lot of code lines (about 400 lines right?)</p>
      <p>Imagine that here there's a lot of code lines (about 400 lines right?)</p>
      <p>Imagine that here there's a lot of code lines (about 400 lines right?)</p>
      <p>Imagine that here there's a lot of code lines (about 400 lines right?)</p>
      <p>Imagine that here there's a lot of code lines (about 400 lines right?)</p>
      <p>Imagine that here there's a lot of code lines (about 400 lines right?)</p>
      <p>Imagine that here there's a lot of code lines (about 400 lines right?)</p>
      <p>Imagine that here there's a lot of code lines (about 400 lines right?)</p>
      <p>Imagine that here there's a lot of code lines (about 400 lines right?)</p>
      <p>Imagine that here there's a lot of code lines (about 400 lines right?)</p>
      <p>Imagine that here there's a lot of code lines (about 400 lines right?)</p>
      <p>Imagine that here there's a lot of code lines (about 400 lines right?)</p>
      <p>Imagine that here there's a lot of code lines (about 400 lines right?)</p>
      <p>Imagine that here there's a lot of code lines (about 400 lines right?)</p>
      <p>Imagine that here there's a lot of code lines (about 400 lines right?)</p>
      <p>Imagine that here there's a lot of code lines (about 400 lines right?)</p>
      <p>Imagine that here there's a lot of code lines (about 400 lines right?)</p>
      <p>Imagine that here there's a lot of code lines (about 400 lines right?)</p>
    </div> <!-- /Header of main home page -->


    <!-- Container of main content-->
    <div class="container">

      <h1>{% block page_title %}Example Base Template{% endblock page_title %}</h1>

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}

      ...
      ...
      ...
      ...
      ...
      ...
      ...

      <p>More code</p>

      ...
      ...
      ...
      ...
      ...
      ...
      ...

      <p>And moreeeeeeeeee </p>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'vendor/jquery.min.js' %}"></script>

    <!-- place project specific Javascript in this file -->
    <script src="{% static 'app/roypi.js' %}"></script>

    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
